# Node.js
node_modules/
pnpm-lock.yaml

# Build output
dist/

# TypeScript
*.tsbuildinfo

# Logs
*.log

# OS-specific files
.DS_Store
Thumbs.db

# IDE and editor files
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp

# Environment files
.env
.env.local
.env.*.local

# Prettier and ESLint cache
.prettierignore
.eslintcache
